# dependencies
/node_modules
/.pnp
.pnp.js
package-lock.json
yarn.lock

# testing
/coverage

# next.js
.next/
.next 2/
out/
build/
dist/

# production
/build

# misc
.DS_Store
*.pem
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Archivos de caché
*.pack
*.pack.gz
*.hot-update.js
*.hot-update.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*